<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>

<h:body>
	<ui:include src="/views/common/header.xhtml" />

	<p:dataTable var="forecastEntry"
		value="#{investment.forecast.forecastEntries}">
		<p:column headerText="Month">
			<h:outputText value="#{forecastEntry.month}" />
		</p:column>

		<p:column headerText="Principal">
			<h:outputText value="#{forecastEntry.openingBalance}" />
		</p:column>

		<p:column headerText="Interest Rate">
			<h:outputText value="#{forecastEntry.interestRate}" />
		</p:column>

		<p:column headerText="Interest Amount">
			<h:outputText value="#{forecastEntry.interestAmount}" />
		</p:column>

		<p:column headerText="Monthly Contribution">
			<h:outputText value="#{forecastEntry.monthlyContribution}" />
		</p:column>

		<p:column headerText="Closing Balance">
			<h:outputText value="#{forecastEntry.closingBalance}" />
		</p:column>
	</p:dataTable>
</h:body>
</html>