<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Finance</title>
</h:head>

<h:body>
	<h:form>
		<p>Principal</p>
		<p:inputNumber id="principal" value="#{newInvestment.principal}"
			symbol="R " symbolPosition="p" decimalSeparator="."
			thousandSeparator="," />

		<p>Interest Rate</p>
		<p:inputNumber id="interestRate" value="#{newInvestment.interestRate}"
			decimalSeparator="." />

		<p>Monthly Contribution</p>
		<p:inputNumber id="monthlyContribution"
			value="#{newInvestment.monthlyContribution}" />

		<p>Term</p>
		<p:inputNumber id="term" value="#{newInvestment.term}" />

		<p>Event 1</p>
		<label for="event1-month">Month</label>
		<p:inputNumber id="event1-month"
			value="#{newInvestment.getEvent(1).month}" />
		<label for="event1-interestRate">Interest Rate</label>
		<p:inputNumber id="event1-interestRate"
			value="#{newInvestment.getEvent(1).interestRate}" />
		<p:selectBooleanCheckbox
			value="#{newInvestment.getEvent(1).interestRateIsOnceOff}"
			itemLabel="Once-off" />
		<label for="event1-contribution">Contribution</label>
		<p:inputNumber id="event1-contribution"
			value="#{newInvestment.getEvent(1).contribution}" />
		<p:selectBooleanCheckbox
			value="#{newInvestment.getEvent(1).contributionIsOnceOff}"
			itemLabel="Once-off" />

		<p>Event 2</p>
		<label for="event2-month">Month</label>
		<p:inputNumber id="event2-month"
			value="#{newInvestment.getEvent(2).month}" />
		<label for="event2-interestRate">Interest Rate</label>
		<p:inputNumber id="event2-interestRate"
			value="#{newInvestment.getEvent(2).interestRate}" />
		<p:selectBooleanCheckbox
			value="#{newInvestment.getEvent(2).interestRateIsOnceOff}"
			itemLabel="Once-off" />
		<label for="event2-contribution">Contribution</label>
		<p:inputNumber id="event2-contribution"
			value="#{newInvestment.getEvent(2).contribution}" />
		<p:selectBooleanCheckbox
			value="#{newInvestment.getEvent(2).contributionIsOnceOff}"
			itemLabel="Once-off" />

		<p>
			<!-- The the part I refer to as "pageType" should Ideally be placed in a
		config file defining a list of constants. -->
			<p:commandButton
				action="#{dispatcher.showPage('investmentForecast')}"
				value="Show Forecast" />
		</p>
	</h:form>
</h:body>
</html>